html{
	box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "TT Lakes Regular";
  src: url("../fonts/TTLakes-Regular.eot");
  src: url("../fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Regular.woff") format("woff"),
    url("../fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Medium";
  src: url("../fonts/TTLakes-Medium.eot");
  src: url("../fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Medium.woff") format("woff"),
    url("../fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url("../fonts/TTLakes-Bold.eot");
  src: url("../fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Bold.woff") format("woff"),
    url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 320px;
  height: 1024px;
  background: #FFF;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}

.header {
  display: flex;
  margin-bottom: 50px;
}

.header img:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
  opacity: 0.77;
}

.header__button {
  margin-top: 23px;
  margin-left: 24px;
  margin-right: 17px;
}

.header__logo {
  margin-top: 19px;  
}

.header__search {
  margin-top: 23px;
  margin-left: 72px;
  margin-right: 24px;
}

.nav__menu {
  margin-left: 24px;
}

.menu__item {
  margin-bottom: 32px;

}
.menu__highlight {
    position: absolute;
    left: 0px;
    top: 115px;
}

.menu__link{
  cursor: pointer;
  color: #1B1C21;
  font-family: TT Lakes Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}

.menu__link:hover {
  color: #7E7E82;
}

.footer {
  margin-top:268px;
  margin-left: 24px;
  margin-bottom: 32px;
}

.link__chat {
  margin-right: 16px;
  margin-left: 16px;
}

.footer__link {
  display: flex;
}

.footer__link a:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
  opacity: 0.77; 
}

.footer__mail {
  margin-top: 16px;
  margin-bottom: 12px;
  color: #1B1C21;
  font-family: TT Lakes Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}

.footer__phone {
  margin-bottom: 40px;
  color: #1B1C21;
  font-family: TT Lakes Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.6px;
}

.footer__lang {
  font-family: TT Lakes Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}

.footer__lang > a {
  color: #1B1C21;
}

.footer__lang > .lang__ru--active {
  color: #7E7E82;
}

.lang__en {
  margin-left: 7px;
  margin-right: 7px;
}
